In [6]:
import pandas as pd
df=pd.read_csv("california_housing_train.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [8]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [14]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [15]:
df.shape

(17000, 9)

In [23]:
def preprocess_features(df):
    feature=df.iloc[:,:-1]
    feature["rooms_per_person"]=feature.total_rooms/feature.population
    return feature

def preprocess_target(df):
    target=df.median_house_value/1000.0
    return target

### Randomly arranging the index of dataframe

In [24]:
import numpy as np
df=df.reindex(np.random.permutation(df.index))
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
3612,-117.91,33.63,20.0,3442.0,1526.0,1427.0,977.0,3.1985,106300.0
15062,-122.25,37.80,43.0,2344.0,647.0,1710.0,644.0,1.6504,151800.0
8477,-118.48,34.00,29.0,1727.0,479.0,741.0,431.0,3.6121,500000.0
9157,-119.03,36.06,36.0,1925.0,443.0,1405.0,422.0,2.1620,51900.0
6502,-118.27,33.98,39.0,2062.0,588.0,1933.0,570.0,1.3801,97000.0

In [25]:
X_train=preprocess_features(df.head(12000))
y_train=preprocess_target(df.head(12000))

X_validate=preprocess_features(df.tail(5000))
y_validate=preprocess_target(df.tail(5000))

In [31]:
X_train.shape

(12000, 9)

In [32]:
y_train.shape

(12000,)

In [33]:
X_validate.shape

(5000, 9)

In [34]:
y_validate.shape

(5000,)

In [48]:
import tensorflow as tf
x=tf.feature_column.numeric_column({"1":df.total_rooms})

tf.print(x)

ValueError: key must be a string. Got: type <class 'dict'>. Given key: {'1': 3612     3442.0
15062    2344.0
8477     1727.0
9157     1925.0
6502     2062.0
          ...
14463    3004.0
2800     3673.0
3507     3065.0
7857     1643.0
7280     2530.0
Name: total_rooms, Length: 17000, dtype: float64}.