# CREATING DATAFRAME

In [9]:
import pandas as pd

## USING PD.DATAFRAME

In [17]:
pd.DataFrame({'color':["red","blue","red"],'id':[100,101,102]})

  color   id
0   red  100
1  blue  101
2   red  102

### IF BY DEFAULT THE COLUMN INDEX IS SORTED,TO GET PROPER COUMNS WE USE-

In [18]:
pd.DataFrame({"id":[100,101,102] , "color":["red","blue","red"]},columns=["id","color"])

    id color
0  100   red
1  101  blue
2  102   red

In [19]:
df1=pd.DataFrame({"id":[100,101,102] , "color":["red","blue","red"]},columns=["id","color"],index=["a","b","c"])

In [20]:
df1.head()

    id color
a  100   red
b  101  blue
c  102   red

### or we can pass list of each row

In [27]:
df2=pd.DataFrame([[100,"red"],[101,"blue"],[102,"red"]])
df2.head()

     0     1
0  100   red
1  101  blue
2  102   red

In [28]:
df2=pd.DataFrame([[100,"red"],[101,"blue"],[102,"red"]],columns=["id","color"],index={"a","b","c"})
df2.head()

    id color
a  100   red
b  101  blue
c  102   red

## CONVERTING NUMPY ARRAY TO SERIES

In [30]:
import numpy as np

In [33]:
arr=np.random.rand(4,2)
arr

array([[0.24088764, 0.38426534],
       [0.9398046 , 0.56460891],
       [0.38590856, 0.16004665],
       [0.17478661, 0.7015996 ]])

In [34]:
pd.DataFrame(arr)

          0         1
0  0.240888  0.384265
1  0.939805  0.564609
2  0.385909  0.160047
3  0.174787  0.701600

In [35]:
pd.DataFrame(arr,columns=["one","two"])

        one       two
0  0.240888  0.384265
1  0.939805  0.564609
2  0.385909  0.160047
3  0.174787  0.701600

## CREATING SERIES USING pd.Series

In [40]:
s=pd.Series(["round","squre"],index=["c","b"],name="shape")
s.head()

c    round
b    squre
Name: shape, dtype: object

### CONCATENING SERIES AND DATAFRAME

In [42]:
pd.concat([df1,s],axis=1)

    id color  shape
a  100   red    NaN
b  101  blue  squre
c  102   red  round